---
layout: home
---
<body>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<div class="outer">
    <div class="container">
        <h1>{{ page.title }}</h1>
<div class="header">
    <a href="{{ site.url }}">HOME</a>
</div>
<div class="blog">
        <table style="width: 100%; border-spacing: 0px;">
            <tr>
            <td class="date">
                <div class="day">
                {{ page.date | date: "%d" }}
                </div>
                <div class="month">
                {{ page.date | date: "%b %Y" }}
                </div>
                <div class="tags">
                {{ page.tags | sort | join: " " }}
                </div>
            </td>
            <td class="post">
                {{ content }}  
            </td>
            </tr>
            </table>
    </div>
</div>
</div>
